
<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <!-- about 폴더의 index.md 에서 어바웃 안의 내용 수정할 수 있음!-->
    <li class="nav-LectureNote" role="menuitem"><a href="{{site.baseurl}}tag/Lecture Note/">Lecture Note</a></li>
    <li class="nav-PersonalProject" role="menuitem"><a href="{{site.baseurl}}tag/Personal Project/">Personal Project</a></li>
    <li class="nav-IdeaNote" role="menuitem"><a href="{{site.baseurl}}tag/Idea Note/">Idea Note</a></li>
    <li class="nav-Ketogenic" role="menuitem"><a href="{{site.baseurl}}tag/Ketogenic/">Ketogenic</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>